@charset "UTF-8";
/* CSS Document */
body {background-color: #FCFAEE;
}

.menu .search {
    float:right
}
.menu input[type=text] {
  padding: 6px;
  margin-top: 22px;
  font-size: 17px;
  border: none;
}
.navigation a {
  float: left;
  color: #CC8EAA;
  text-align:center;
  padding:5px 15px;
  text-decoration: none;
  font-size: 17px;
}
.topnav {
    display:flex;
    justify-content:space-between;
    align-items:center
}
.topnav a{
    color: #CC8EAA;
    text-align:center;
    padding:5px 15px;
    text-decoration:none;
    font-size:17px  
}
.reviewnav {
    display:flex;
    justify-content:space-between;
    align-items:center
}
.reviewnav a{
    color: #CC8EAA;
    text-align:center;
    padding:5px 15px;
    text-decoration:none;
    font-size:17px
}
.blognav {
    display:flex;
    justify-content:space-between;
    align-items:center
}
.blognav a{
    color: #CC8EAA;
    text-align:center;
    padding: 5px 15px;
    text-decoration:none;
    font-size:17px
}
.newsnav {
    display:flex;
    justify-content:space-between;
    align-items:center
}
.newsnav a{
    color: #CC8EAA;
    text-align:center;
    padding:5px 15px;
    text-decoration:none;
    font-size:17px
}
.musicnav {
    display:flex;
    justify-content:space-between;
    align-items:center
}
.musicnav a{
    color: #CC8EAA;
    texts-align:center;
    padding:5px 15px;
    text-decoration:none;
    font-size:17px
}